flow.json
[{"id":"63aa4c12.874bcc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"550c231b.091ac4","type":"inject","z":"63aa4c12.874bcc","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310.8666534423828,"y":173.91665649414062,"wires":[["3e1b4238.b5c9fe"]]},{"id":"1359b282.55703d","type":"debug","z":"63aa4c12.874bcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":731.8666534423828,"y":183,"wires":[]},{"id":"3e1b4238.b5c9fe","type":"function","z":"63aa4c12.874bcc","name":"","func":"msg.payload=msg.payload+10\nreturn msg;","outputs":1,"noerr":0,"x":477.8666534423828,"y":178.91665649414062,"wires":[["1359b282.55703d"]]}]